*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98b1c0;
}

.container{
    position: relative;
    width: 400px;
    height:auto;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.todo-form {
    height: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    color: #06283D;
    width: 50%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    text-align: center;
}
input::placeholder{
    font-size: 50%;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

#todo-form button {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    height: 50px;
    color: #06283D;
    background: #7a96d1d0;
    border-radius: 12px;
    font-size: 12px;
    transition: 0.4s ease;
}

#todo-form button:hover {
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

li {
    margin: 15px;
}

h2 {
    text-align: center;
}
